<div class="container p-4"> 
     <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
         <p class="text-start"><a href="/menu_modulos" class="btn btn-success">Volver</a></p>
         <p class="text-center">Modulo gestion Estudiantil en construccion</p><br>
     </div>
</div>