<div class="container p-4"> 
     <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
         <p class="text-start"><a href="/menu_modulos" class="btn btn-success">Volver</a></p>
         <p class="text-center">Bienvenidos al modulo gestion de calidad</p><br>
         <p class="text-start">Aqui puedes descargar material relacionado con la fet, manual estudiantil, noticias y demas. Nosotros estamos 
         interesados en que nuestros estudiantes........ En beneficio de la calidad académica y con hacer de la excelencia un hábito, a través de políticas, 
         estrategias y objetivos soportados en un conjunto de planes, programas y proyectos que permitan el cumplimiento de sus propósitos, la interacción con 
         sus grupos de interés y la satisfacción de los usuarios y partes interesadas</p><br>
         <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Manual Estudiantil</h5>
                <p class="card-text"><a href="#" class="btn btn-secondary">Descargar</a></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Estatuto estudiantil</h5>
                <p class="card-text"><a href="#" class="btn btn-secondary">Descargar</a></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Manuales FET</h5>
                <p class="card-text"><a href="#" class="btn btn-secondary">Descargar</a></p>
              </div>
            </div>
          </div>
        </div>
     </div>
</div>