<main class="index"> 
    <header class="masterhead">
      <div  class="box">
        <a href="/signingestionhumana"><img src="img/banner_fet.png"  width="400" height="100" ></a>
      </div>
    </header>
</main>
