<div class="container p-4"> 
     <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
         <p class="text-start"><a href="/menu_modulos" class="btn btn-success">Volver</a></p>
         <p class="text-center"><h3>Hola Administrador {{user.username}}</h3></p><br>
         <p class="text-start">Este es el panel de administrador para la configuracion de la plataforma gestión FET.</p><br>
         <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
             <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Nivel Académico</h5>
                <img src="/img/18m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a  href="/administrador/agregarNivelAcademico" class="btn btn-secondary"  data-toggle="tooltip" data-placement="right" title="Modulo Nivel Academico">Ingresar</a></p>
              </div>
            </div>
            </header>
        </div>
        <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestionar Programa académico</h5>
                <img src="/img/19m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/administrador/agregarprograma" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="gestionar programa académico Fet">Modulo Programa académico</a></p>
              </div>
            </div>
            </header>
          </div>
        <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Tipo de contrato</h5>
                <img src="/img/20m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/gestionar_archivos" class="btn btn-secondary" title="Tipo de contrato">Gestionar tipo de contrato</a></p>
              </div>
            </div>
            </header>
        </div>
        <div class="col">
           <header class="cards1">
          <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestionar Labor</h5>
                <img src="/img/21m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/gestionar_archivos" class="btn btn-secondary" title="gestionar labor FET">Gestionar Labor</a></p>
              </div>
            </div>
            </header>
          </div>
        
        <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Tipo de contrato</h5>
                <img src="/img/20m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/gestionar_archivos" class="btn btn-secondary" title="Tipo de contrato">Gestionar tipo de contrato</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Colores gestion FET</h5>
                <img src="/img/22m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/gestionar_archivos" class="btn btn-secondary" title="Colores gestion FET">Cambiar colores de gestión FET</a></p>
              </div>
            </div>
            </header>
          </div>
        </div>
     </div>
</div>


