<div class="container p-4"> 
     <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
         <p class="text-start"><a href="/menu_modulos" class="btn btn-success">Volver</a></p>
         <form>
            <div class="form-row">
                 <div class="form-group  col-md-6">
                    <label for="inputEmail4">Nombre</label>
                   <input type="text" class="form-control" id="filefile" >
                 </div>
                 <div class="form-group  col-md-6">
                  <label for="exampleFormControlFile1">Example file input</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                 </div>
                 <button type="submit" class="btn btn-success">Subir</button>
            </div>
         </form>
     </div>
</div>

