<div class="container p-4"> 
     <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
         <p class="text-start"></p>
         <p class="text-center"><h3>Bienvenidos</h3></p><br>
         <p class="text-start">El sistema integrado de gestión de la calidad es una plataforma institucional que está al servicio de la comunidad FET.
         Es una plataforma que ofrece servicios virtuales de gestión administrativa como por ejemplo la generación de certificados laborales para los docentes FET, 
         también el acceso a archivos institucionales de la universidad.</p><br>
         <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión Humana</h5>
                <img src="/img/1m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/signingestionhumana" class="btn btn-secondary"  data-toggle="tooltip" data-placement="right" title="Aqui puedes generar certificado laboral, descargar formatos administrativos....">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión de Calidad</h5>
                <img src="/img/2m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/gestioncalidad/gestioncalidad" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Puudes visualizar documentos de la FET">Ingresar</a></p>
              </div>
            </div>
             </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión Administrativa</h5>
                <img src="/img/3m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/gestionadmnistrativa/gestionadministrativa" class="btn btn-secondary">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión Estudiantil</h5>
                <img src="/img/4m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/gestionestudiantil/gestionestudiantil" class="btn btn-secondary">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-secondary mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Sistema Integrado de Gestión de Calidad</h5>
                <img src="/img/13m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión de Recursos Físicos</h5>
                <img src="/img/5m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/gestionrecursosfisicos/gestionrecursosfisicos" class="btn btn-secondary">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
           <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión 1</h5>
                <img src="/img/6m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/gestion1/gestion1" class="btn btn-secondary">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
           <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión 2</h5>
                <img src="/img/7m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/gestion2/gestion2" class="btn btn-secondary">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
           <div class="col">
            <header class="cards1">
            <div class="card h-100 text-white  bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestión 3</h5>
                <img src="/img/8m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/gestion3/gestion3" class="btn btn-secondary">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
        </div>
     </div>
</div>




