<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            
                <div class="card">
                    <div class="card-body">
                        <div class="card text-center">
                            <form action="/setusers/register_employed" method="post">
                                <div class="form-group">
                                    <h5 class="card-title">Registro de usuarios</h5>
                                    <label class="form-label">nombre</label>
                                    <input type="text" class="form-control" name="nombre" placeholder="nombre" autofocus required/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">apellido</label>
                                    <input type="text" class="form-control" name="apellido" placeholder="apellido"  required/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">edad</label>
                                    <input type="edad" class="form-control" name="edad" placeholder="edad"  required/>
                                   
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> </label><br>
                                    <button class="btn btn-primary btn-block" type="submit">Enviar</button><br>
                                    <label class="form-label"> </label><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>