<div class="container p-4"> 
     <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
         <p class="text-start"><a href="/menu_modulos" class="btn btn-success">Volver</a></p>
         <p class="text-center"><h3>Hola Administrador {{user.username}}</h3></p><br>
         <p class="text-start">Este es el panel de administrador de la plataforma gestión FET. Aquí puede subir los archivos que se muestran en la plataforma, como también usted puede vincular y desvincular usuarios.</p><br>
         <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
             <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Registrar Docente</h5>
                <img src="/img/16m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a  href="/administrador/add_teacher" class="btn btn-secondary"  data-toggle="tooltip" data-placement="right" title="Habilitar usuario">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestionar Docente</h5>
                <img src="/img/15m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/gestionar_docente" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Modifica y elimina usuarios">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Subir Archivos</h5>
                <img src="/img/14m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/gestionar_archivos" class="btn btn-secondary" title="Subir ficheros">Subir Archivos</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Gestionar Pagina</h5>
                <img src="/img/17m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/administrador/gestionar_pagina" class="btn btn-secondary" title="Subir ficheros">Menu gestionar pagina</a></p>
              </div>
            </div>
            </header>
          </div>
        </div>
     </div>
</div>





