<div class="container p-4"> 
     <div class="p-3 mb-2 bg-secondary text-white" style="--bs-bg-opacity: 0.9;">
         <p class="text-start"><a href="/menu_modulos" class="btn btn-success">Volver</a></p>
         <p class="text-center"><h3>Hola {{user.username}}</h3></p><br>
         <p class="text-start">Te doy a la bienvenida al modulo institucional Gestión humana. En esta sección usted puede obtener su certificado laboral a un solo click, usted también puede descargar formatos institucionales de la universidad ingresando a la seccion "talento humano" </p><br>
         <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
             <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Certificado Sencillo</h5>
                <img src="/img/10m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a  href="/docente/generarcertificadosencillo" class="btn btn-danger"  data-toggle="tooltip" data-placement="right" title="Descarga certificado basico a un click">Descargar</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Certificado Completo</h5>
                <img src="/img/11m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/generarcertificadocompleto" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Descarga certificado con mas informaci車n a un click">Descargar</a></p>
              </div>
            </div>
            </header>
          </div>
          <div class="col">
            <header class="cards1">
            <div class="card h-80 text-white bg-success mb-3" style="max-width: 18rem;"">
              <div class="card-body">
                <h5 class="card-title">Talento Humano</h5>
                <img src="/img/9m.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounded-circle w-50"> 
                <p class="card-text"><a href="/docente/talentohumano" class="btn btn-secondary">Ingresar</a></p>
              </div>
            </div>
            </header>
          </div>
        </div>
     </div>
</div>





