<div>
    <p class="h3 text-center">
        LA SUSCRITA COORDINADORA DE TALENTO HUMANA DE LA FUNDACIÓN ESCUELA 
        TECNOLÓGICA DE NEIVA “JESÚS OVIEDO PÉREZ” – FET
    </p><br><br><br>
    <p class="text-center">
        CERTIFICA QUE:
    </p><br><br>
    <p class="lead">
        La señora JIMENA ANDRADE CANO, identificada con cédula de ciudadanía No. 36.309.339 expedida en Neiva, labora en la 
        Fundación Escuela Tecnológica de Neiva “Jesús Oviedo Pérez” - FET, mediante contrato individual de 
        trabajo a término fijo CT 022-2022A desde el día 07 de febrero del año 2022, desempeñando el cargo de
        DOCENTE TIEMPO COMPLETO, devengando un salario básico mensual de DOS MILLONES DOSCIENTOS CUARENTA Y 
        CUATRO MIL PESOS MCTE. ($2.244.000). 
    </p><br><br>
    <p class="lead">
         La presente Certificación se expide a solicitud de la interesada, el diecisiete (17) de febrero de 2022. 
    </p>
    <p class="lead">
        Cordialmente:
    </p><br><br><br><br><br><br><br><br><br><br><br>


     <img src="/img/img_pdf/firma.png" class="card-img-top" alt="..." style="width: 10rem;">
    <p class="">
    ______________________________________________________________    
    </p> 
    <p class="lead">
        MARÍA FERNANDA VALENZUELA PÉREZ        
    </p>
    <p class="lead">
        Coordinadora Gestión Humana
    </p>
    <p class="lead">
        gestionhumana@fet.edu.co
    </p><br><br><br><br><br><br><br><br><br><br><br>
</div>

